.container{
    width: 100%;
    background-color: rgb(33, 0, 63);
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    color: rgb(252, 252, 252);
    padding-left: 6rem;
    padding-right: 6rem;
}
span{
    font-size: 0.9rem;
}
img{
    
    height: 170px;
    background-size: cover;
}
.patterns{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width:768px){
    .patterns{
        display: list-item;
    }
}
button{
    width: 6rem;
    height: 3rem;
    border: none;
    background-color: rgb(146, 255, 119);    
    color:rgb(46, 1, 88);
}
.button:hover{
    cursor: pointer;
    background-color: aqua;
}
.tittle{
    font-size: bold;
    color: rgb(255, 255, 255);
}
.patterns h3{
    color: rgb(41, 2, 78);
    font-size: 1.5rem;
    font-family:'Manrope';
}
.patterns p{
    font-size: 1rem;
}
